


  @media (max-width : 640px) {
      .hiddeMenu {
      transform: translateY(-200%);
      opacity: 0;
      transition: all 0.5s;
      visibility: hidden;  

    }
  
    .showMwenu {
      transform: translateY(0%);
    opacity: 1;
    transition: all 0.5s;
    visibility:visible;  
    }

      .hideIcon{
    display: none;
  }

  .showIcon{
    display: inline-block;
  }

  }

